<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="assets/style/admin.css">
</head>
<body>
    <div class="header-admin">
        <div class="container">
            <div style="display: flex; align-items: center; border-bottom: 1px solidrgba(0,0,0,.09);">
                <div class="admin-page">
                    <a href="" class="admin-logo">
                        <img src="assets/img/logo3.jpg" alt="">

                        <div class="page-name">
                            Admin
                        </div>
                    </a>
                </div>

                <div class="you-help">
                    <a href="">
                        Bạn cần giúp đỡ?
                    </a>
                </div>
            </div>
        </div>
    </div>

    <main style="margin: 20px 0;">
        <div class="container">
            <div class="table-left">
                <div class="heading">
                    Trang chủ
                </div>

                <div>
                    <a href="admin.html">
                        Danh mục 
                    </a>
                </div>

                <div>
                    <a href="add_product.html">
                        Hàng hóa
                    </a>
                </div>

                <div>
                    <a href="khachhang.html">
                        Khách hàng
                    </a>
                </div>

                <div>
                    <a href="comments.html">
                        Bình luận 
                    </a>
                </div>

                <div>
                    <a href="product.html">
                        Thống kê
                    </a>
                </div>

            </div>
        </div>

        <div class="table-right">
            <div class="heading">
                Quan lý loại hàng 
            </div>

            <div>
                <form action="" method="post">
                    <div class="mb10">
                        <table>
                            <tr>
                                <th></th>
                                <th>Mã loại</th>
                                <th>Tên loại</th>
                                <th></th>
                            </tr>

                            <tr>
                                <td><input type="checkbox" name="" id=""></td>
                                <td>001</td>
                                <td>Đồng hồ</td>
                                <td>
                                    <button class="btsx" type="button">Sửa</button><button class="btsx" type="button">Xóa</button>
                                </td>
                            </tr>

                        </table>
                    </div>


                    <div class="mb10">
                        <button type="button">Chọn tất cả</button>
                        <button type="button">Bỏ chọn tất cả</button>
                        <button type="button">Xóa các mục đã chọn</button>
                        <a href="admin.html"><button type="button">Thêm mới</button></a>
                    </div>

                </form>
            </div>

        </div>
    </main>
</body>
</html>