<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="assets/style/login.css">
</head>
<body>
    <div class="header-login">
        <div class="container">
            <div style="display: flex; align-items: center; border-bottom: 1px solidrgba(0,0,0,.09);">
                <div class="login-page">
                    <a href="index.html" class="login-logo">
                        <img src="assets/img/logo3.jpg" alt="">

                        <div class="page-name">
                            Đăng nhập
                        </div>
                    </a>
                </div>

                <div class="you-help">
                    <a href="">
                        Bạn cần giúp đỡ?
                    </a>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            <div class="form-login">
                <form action="">
                    <h2>Đăng nhập</h2>
                    <div class="input">
                        <input type="text" placeholder="Số điện thoại/Tên đăng nhập">
                        <div class="space"></div>
                        <input type="password" placeholder="Mật khẩu">
                        <div class="space"></div>
                        <button class="btn">ĐĂNG NHẬP</button>
                        <a href="" class="forget">
                            Quên mật khẩu
                        </a>

                        <hr style="height: 1px; border: 0; background-color: #fff;">

                        <div class="sign-up-you">
                            Bạn chưa có tài khoản? <a class="sign-up" href="sign_up.html">Đăng ký</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="footer-top">
                    <ul class="list-footer">
                        <li>
                            <a href="">
                                <img src="assets/img/vanchuyen.png" alt="">
                                <span>Vận chuyển toàn quốc</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/1doi1.png" alt="">
                                <span>1 đổi 1 trong 30 ngày</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/baogia.png" alt="">
                                <span>Giá chuẩn, không sốc giá</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/baohiem.png" alt="">
                                <span>Bảo hành máy 12 tháng</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-mid">
            <div class="container">
                <div class="content">
                    <div>
                        <h2>Chăm sóc khách hàng</h2>
                        <a href="">Chính sách giao hàng tận nơi</a>
                        <a href="">Hướng dẫn mua trả góp</a>
                        <a href="">Hướng dẫn đặt hàng</a>
                        <a href="">Hướng dẫn thanh toán</a>
                    </div>
    
                    <div>
                        <h2>Về FourSmart</h2>
                        <a href="">Chính sách giao hàng tận nơi</a>
                        <a href="">Hướng dẫn mua trả góp</a>
                        <a href="">Hướng dẫn đặt hàng</a>
                        <a href="">Hướng dẫn thanh toán</a>
                    </div>

                    <div>
                        <h2>Liên hệ nhanh</h2>
                        <a href="">- Địa chỉ: Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</a>
                        <a href="">Hotline: 0334590019</a>
                    </div>
    
                    <div>
                        <h2>HỖ TRỢ THANH TOÁN</h2>
                        <a href="">Tiền mặt</a>
                        <a href="">Chuyển khoản</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="store">
                    <hr>

                    <p>Cửa hàng TelePhone</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>