<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="assets/style/admin.css">
</head>
<body>
    <div class="header-admin">
        <div class="container">
            <div style="display: flex; align-items: center; border-bottom: 1px solidrgba(0,0,0,.09);">
                <div class="admin-page">
                    <a href="" class="admin-logo">
                        <img src="assets/img/logo3.jpg" alt="">

                        <div class="page-name">
                            Admin
                        </div>
                    </a>
                </div>

                <div class="you-help">
                    <a href="">
                        Bạn cần giúp đỡ?
                    </a>
                </div>
            </div>
        </div>
    </div>

    <main style="margin: 20px 0;">
        <div class="container">
            <div class="table-left">
                <div class="heading">
                    Trang chủ
                </div>

                <div>
                    <a href="admin.html">
                        Danh mục 
                    </a>
                </div>

                <div>
                    <a href="add_product.html">
                        Hàng hóa
                    </a>
                </div>

                <div>
                    <a href="product.html">
                        Khách hàng
                    </a>
                </div>

                <div>
                    <a href="comments.html">
                        Bình luận 
                    </a>
                </div>

                <div>
                    <a href="product.html">
                        Thống kê
                    </a>
                </div>

            </div>
        </div>

        <div class="table-right">
            <div class="heading">
                Cập nhật sản phẩm
            </div>

            <div>
                <form action="" method="post" enctype="multipart/form-data">

                    <div class="mb10">
                        <label for="">Mã sản phẩm</label><br>
                        <input type="text" name="masp">
                    </div>

                    <div class="mb10">
                        <label for="">Tên sản phẩm</label><br>
                        <input type="text" name="tensp">
                    </div>

                    <div class="mb10">
                        <label for="">Đơn giá</label><br>
                        <input type="text" name="dongia">
                    </div>

                    <div class="mb10">
                        <label for="">Giảm giá</label><br>
                        <input type="text" name="giamgia">
                    </div>

                    <div class="mb10">
                        <label for="">Hình</label><br>
                        <input type="file" name="hinh">
                    </div>

                    <div class="mb10">
                        <select name="loại" id="">
                            <option value="">Chọn danh mục</option>
                            <option value="">Đồng hồ</option>
                            <option value="">Điện thoại</option>
                            <option value="">Laptop</option>
                        </select>
                    </div>

                    <div class="mb10">
                        <label for="">Mô tả</label><br>
                        <textarea name="mota" id="" cols="30" rows="10"></textarea>
                    </div>

                    <div class="mb10">
                        <button type="submit" name="capnhat" >CẬP NHẬT</button>
                        <button type="reset">NHẬP LẠI</button>
                        <a href="danh_sach_loai_hang.html"><button type="button">DANH SÁCH</button></a>
                    </div>

                </form>
            </div>

        </div>
    </main>
</body>
</html>