<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="assets/style/cart.css">
</head>
<body>
    <header class="header">
        <div class="connect">
            <div class="container">
                <div class="connect-contain">
                    <div>
                        <a href="">Kênh người bán</a>
                        <div style="opacity: 0.5; margin: 0 5px;border-left: 2px solid #fff; display: inline"></div>
                        <a href="">Trở thành người bán</a>
                    </div>
    
                    <div></div>
    
                    <div>
                        <a href="login.html">Đăng nhập</a>
                        <div style="opacity: 0.5; margin: 0 5px;border-left: 2px solid #fff; display: inline"></div>
                        <a href="sign_up.html">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-cart">
            <div class="container">
                <div style="display: flex; align-items: center; border-bottom: 1px solidrgba(0,0,0,.09);">
                    <div class="cart-page">
                        <a href="index.html" class="cart-logo">
                            <img src="assets/img/logo4-b-white.png" alt="">

                            <div class="page-name">
                                Giỏ hàng
                            </div>
                        </a>
                    </div>

                    <div class="cart-search">
                        <div class="search-bar">
                            <div class="search-bar-main">
                                <form action="">
                                    <input type="text" placeholder="Tìm kiếm">
                                </form>
                            </div>

                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="heading">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                </div>
                
                <div class="sp_column">
                    Sản phẩm
                </div>
                
                <div class="price_cloumn">
                    Đơn giá
                </div>
                
                <div class="quantity_cloumn">
                    Số lượng
                </div>
                
                <div class="money">
                    Số tiền
                </div>
                
                <div class="action">
                    Thao tác
                </div>
                
            </div>

            <div class="product1">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                </div>
                
                <div class="sp_column">
                    <img src="assets/img/ip-xs-max-64g.jpg" width="80px" height="80px" alt="">
                    <p>ip xs 64gb</p>
                </div>
                
                <div class="price_cloumn">
                    10000000<sup>đ</sup>
                </div>
                
                <div class="quantity_column">
                    <input type="number" name="" id="" min="0" value="1">
                </div>
                
                <div class="money">
                    10000000<sup>đ</sup>
                </div>
                
                <div class="action">
                    Xóa
                </div>
            </div>

            <div class="cash">
                <div class="checkbox">
                    <input type="checkbox" name="" id="">
                    <span style="margin-left: 5px;">Chọn tất cả</span>
                </div>

                

                <div class="pay">
                    Tổng thanh toán: 0đ
                </div>

                <div class="buy">
                    <button>
                        Mua hàng
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="footer-top">
                    <ul class="list-footer">
                        <li>
                            <a href="">
                                <img src="assets/img/vanchuyen.png" alt="">
                                <span>Vận chuyển toàn quốc</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/1doi1.png" alt="">
                                <span>1 đổi 1 trong 30 ngày</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/baogia.png" alt="">
                                <span>Giá chuẩn, không sốc giá</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/baohiem.png" alt="">
                                <span>Bảo hành máy 12 tháng</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-mid">
            <div class="container">
                <div class="content">
                    <div>
                        <h2>Chăm sóc khách hàng</h2>
                        <a href="">Chính sách giao hàng tận nơi</a>
                        <a href="">Hướng dẫn mua trả góp</a>
                        <a href="">Hướng dẫn đặt hàng</a>
                        <a href="">Hướng dẫn thanh toán</a>
                    </div>
    
                    <div>
                        <h2>Về FourSmart</h2>
                        <a href="">Chính sách giao hàng tận nơi</a>
                        <a href="">Hướng dẫn mua trả góp</a>
                        <a href="">Hướng dẫn đặt hàng</a>
                        <a href="">Hướng dẫn thanh toán</a>
                    </div>

                    <div>
                        <h2>Liên hệ nhanh</h2>
                        <a href="">- Địa chỉ: Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</a>
                        <a href="">Hotline: 0334590019</a>
                    </div>
    
                    <div>
                        <h2>HỖ TRỢ THANH TOÁN</h2>
                        <a href="">Tiền mặt</a>
                        <a href="">Chuyển khoản</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="store">
                    <hr>

                    <p>Cửa hàng TelePhone</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>