<!DOCTYPE html>        
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh mục</title>
    <link rel="stylesheet" href="assets/style/category.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="connect">
                <div>
                    <a href="">Kênh người bán</a>
                    <div style="opacity: 0.5; margin: 0 5px;border-left: 2px solid #fff; display: inline"></div>
                    <a href="">Trở thành người bán</a>
                </div>

                <div></div>

                <div>
                    <a href="login.html">Đăng nhập</a>
                    <div style="opacity: 0.5; margin: 0 5px;border-left: 2px solid #fff; display: inline"></div>
                    <a href="sign_up.html">Đăng ký</a>
                </div>
            </div>

            <div class="header-main">
                <a href="index.html">
                    <img class="logo" height="" src="assets/img/logo3.jpg" alt="">
                </a>
                <div class="search">
                    <input placeholder="Bạn muốn tìm sản phẩm gì...." type="text">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                    </button>
                </div>
                <div class="cart">
                    <a href="cart.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                          </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <nav class="nav-main">
        <div class="container">
            <ul class="menu">
                <li>
                    <a href="index.html">
                        <div style="float: left;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                              </svg>
                        </div>
                        <span>
                            Trang chủ
                        </span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div style="float: left;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                              </svg>
                        </div>
                        <span>
                            Sản phẩm
                        </span>
                    </a>
                </li>

                <li>
                    <a href="contact.html">
                        <div style="float: left;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                              </svg>
                        </div>
                        <span>
                            Liên hệ
                        </span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div style="float: left;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                              </svg>
                        </div>
                        <span>
                            Hỏi đáp
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <main>

        <div class="banner">
            <div class="container">
                <img src="assets/img/flash-sale-trong-ngay-pc-banner-22.jpg" alt="" width="100%">
            </div>
        </div>
        
        <div class="container">
            <div class="head">
                <h1>
                    Sản phẩm
                </h1>
            </div>

            <!-- <div class="product">
                <ul>
                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="detail.html"> 
                            <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                            <span>
                                <h3>Điện thoại iPhone Xs Max 64GB</h3>
                                <strong>18.700.000 đ</strong>
                            </span>
                        </a>
                    </li>

                </ul>
            </div> -->
            <div class="content-main">
                <div class="container">
                    <div class="flex">
                        <div class="product">
                            <div class="list">
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/dongho1.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Casio MTP-1374L-1AVDF Nam Quartz
                                            <div class="gia">1.999.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/ip13.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Iphone 13 pro max
                                            <div class="gia">1.999.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/tuisach1.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            TÚI CLUTCH NỮ THỜI TRANG ELLY- ECH52
                                            <div class="gia">999.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
            
                                <!--Hang2-->
            
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/nuochoa1.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Nước Hoa Armaf Club de Nuit Intense Man
                                            <div class="gia">6.000.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/ip14.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Iphone 14 pro max
                                            <div class="gia">46.990.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/dongho2.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Casio MTP-1374D-1AVDF Nam Quartz
                                            <div class="gia">2.699.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
            
                                <!--Hàng 3-->
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/laptop1.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Laptop MSI Gaming GF63 Thin
                                            <div class="gia">22.390.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
            
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/dongho3.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Casio G-SHOCK GA-120-1ADR Nam Quartz
                                            <div class="gia">4.612.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
            
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/nuochoa2.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Nước Hoa Jean Paul Gaultier So Scandal EDP
                                            <div class="gia">2.990.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>

                                <!--Hàng 4-->
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/laptop1.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Laptop MSI Gaming GF63 Thin
                                            <div class="gia">22.390.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
            
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/dongho3.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Casio G-SHOCK GA-120-1ADR Nam Quartz
                                            <div class="gia">4.612.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
            
                                <div class="sp">
                                    <a href="">
                                        <img src="assets/img/nuochoa2.jpg" alt="" width="180" height="180">
                                        <div class="spcontent">
                                            Nước Hoa Jean Paul Gaultier So Scandal EDP
                                            <div class="gia">2.990.000đ</div>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                            
                            <div class="page-number">
                                <ul>
                                    <li>
                                        <a href=""><</a>
                                    </li>

                                    <li>
                                        <a href="">1</a>
                                    </li>
                                    
                                    <li>
                                        <a href="">2</a>
                                    </li>

                                    <li>
                                        <a href="">></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="category">
                            <!---->
                            <div class="row mb">
                                <div class="boxtitle">DANH MỤC</div>
                                <div class="boxcontent2 menudoc">
                                    <ul>
                                        <li><a href="">Đồng hồ</a></li>
                                        <li><a href="">Laptop</a></li>
                                        <li><a href="">Điện thoại</a></li>
                                        <li><a href="">Túi sách</a></li>
                                        <li><a href="">Máy ảnh</a></li>
                                        <li><a href="">Nước hoa</a></li>
            
                                    </ul>
                                </div>
                                <div class="boxfooter">
                                    <form action="" class="searbox">
                                        <input type="text" placeholder="Tìm kiếm">
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="boxtitle">TOP 10 YÊU THÍCH</div>
                                <div class="boxcontent row bg-w pt">
                                    <div class="row top10 mb10">
                                        <img src="assets/img/dongho1.jpg" alt="">
                                        <a href="">Casio MTP-1374L-1AVDF Nam Quartz</a>
                                    </div>
            
                                    <div class="row top10 mb10">
                                        <img src="assets/img/dongho2.jpg" alt="">
                                        <a href="">Casio MTP-1374D-1AVDF Nam Quartz</a>
                                    </div>
            
                                    <div class="row top10 mb10">
                                        <img src="assets/img/nuochoa2.jpg" alt="">
                                        <a href="">Nước Hoa Jean Paul Gaultier So Scandal EDP</a>
                                    </div>
            
                                    <div class="row top10 mb10">
                                        <img src="assets/img/laptop1.jpg" alt="">
                                        <a href="">Laptop MSI Gaming GF63 Thin</a>
                                    </div>
            
                                    <div class="row top10 mb10">
                                        <img src="assets/img/ip14.jpg" alt="">
                                        <a href="">Iphone 14 pro max</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="clear"></div>
        </div>
    </main>

    <footer style="clear: both; margin-top: 50px;">
        <div class="footer-main">
            <div class="container">
                <div class="footer-top">
                    <ul class="list-footer">
                        <li>
                            <a href="">
                                <img src="assets/img/vanchuyen.png" alt="">
                                <span>Vận chuyển toàn quốc</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/1doi1.png" alt="">
                                <span>1 đổi 1 trong 30 ngày</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/baogia.png" alt="">
                                <span>Giá chuẩn, không sốc giá</span>
                            </a>
                        </li>
    
                        <li>
                            <a href="">
                                <img src="assets/img/baohiem.png" alt="">
                                <span>Bảo hành máy 12 tháng</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-mid">
            <div class="container">
                <div class="content">
                    <div>
                        <h2>Chăm sóc khách hàng</h2>
                        <a href="">Chính sách giao hàng tận nơi</a>
                        <a href="">Hướng dẫn mua trả góp</a>
                        <a href="">Hướng dẫn đặt hàng</a>
                        <a href="">Hướng dẫn thanh toán</a>
                    </div>
    
                    <div>
                        <h2>Về FourSmart</h2>
                        <a href="">Chính sách giao hàng tận nơi</a>
                        <a href="">Hướng dẫn mua trả góp</a>
                        <a href="">Hướng dẫn đặt hàng</a>
                        <a href="">Hướng dẫn thanh toán</a>
                    </div>

                    <div>
                        <h2>Liên hệ nhanh</h2>
                        <a href="">- Địa chỉ: Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</a>
                        <a href="">Hotline: 0334590019</a>
                    </div>
    
                    <div>
                        <h2>HỖ TRỢ THANH TOÁN</h2>
                        <a href="">Tiền mặt</a>
                        <a href="">Chuyển khoản</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="store">
                    <hr>

                    <p>Cửa hàng TelePhone</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('nav').addClass('unshadow');
                } else {
                    $('nav').removeClass('unshadow');
                }
            })
        })
</script>
</body>
</html>

