
<!-- sản phẩm bên file index -->
<div class="option-promo">
    <div class="container">
        <ul class="list-option-promo">
            <li>
                <a href="">
                    <img src="assets/img/Frame46553-80x92.png" alt="">
                    <span>Chỉ giảm Online</span>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="assets/img/LDP---Icon-Desk-61x60.png" alt="">
                    <span>Đồng giá 99k</span>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="assets/img/Frame-46574-100x100.png" alt="">
                    <span>Xả hàng giá sốc</span>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="assets/img/sieu-sale-macbook-120x120.png" alt="">
                    <span>Siêu sale Macbook</span>
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="product">
    <div class="container">
        <div class="suggestions">
            <h2>GỢI Ý HÔM NAY</h2>

            <ul>
                <li>
                    <a href="detail.html"> 
                        <div style="height: 25px;"></div>
                        <div class="item-img">
                            <img src="assets/img/ip-xs-max-64g.jpg" alt="">
                        </div>
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href=""> 
                        <div style="height: 25px;"></div>
                        <div class="item-img">
                            <img src="assets/img/13_5_81.jpg" alt="">
                        </div>
                        <span>
                            <h3>POCO C40</h3>
                            <strong>3.190.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href=""> 
                        <div style="height: 25px;"></div>
                        <div class="item-img">
                            <img src="assets/img/054f384939f1349335f2fd177471e703.png" alt="">
                        </div>
                        <span>
                            <h3>Vivo Y01</h3>
                            <strong>2.990.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href=""> 
                        <div style="height: 25px;"></div>
                        <div class="item-img">
                            <img src="assets/img/OPPO-Reno7-4G-Thumb-cam-1-600x600.jpg" alt="">
                        </div>
                        <span>
                            <h3>Oppo RENO 7</h3>
                            <strong>8.990.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href=""> 
                        <div style="height: 25px;"></div>
                        <div class="item-img">
                            <img src="assets/img/samsung-galaxy-z-flip-3-cream-1-600x600.jpg" alt="">
                        </div>
                        <span>
                            <h3>Samsung Galaxy Z Flip3 5G 128GB</h3>
                            <strong>17.990.000 đ</strong>
                        </span>
                    </a>
                </li>

            </ul>

            <a class="all" href="">
                <span>Xem tất cả ></span>
            </a>
        </div>

        <div class="iphone">
            <h2>
                <a href="category.html">
                    iPHONE
                </a>
            </h2>

            <ul>
                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="detail.html"> 
                        <img width="219px" src="assets/img/ip-xs-max-64g.jpg" alt="">
                        <span>
                            <h3>Điện thoại iPhone Xs Max 64GB</h3>
                            <strong>18.700.000 đ</strong>
                        </span>
                    </a>
                </li>

            </ul>

            <a class="all" href="">
                <span>Xem tất cả ></span>
            </a>
        </div>
    </div>
</div>
<!-- end sản phẩm bên file index -->
