* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

.chua_login a:hover,
.da_login_admin a:hover,
.da_login_customer a:hover {
    color: rgba(255, 255, 255, 0.7);
}
/* end reset */

/* header */
.connect {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.chua_login {
    display: block;
}

.chua_login a {
    padding: 4px;
    font-size: 0.8125rem;
}

.da_login_admin {
    display: block;
}

.da_login_admin a {
    padding: 4px;
    font-size: 0.8125rem;
}

.chua_login a,
.da_login_admin a,
.da_login_customer a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.da_login_admin:hover .info {
    display: block;
}

.da_login_admin .info {
    display: none;
    position: absolute;
    top: 35px;
    left: 55px;
    background-color: #FF711B;
    padding: 10px;
    color: #FFf;
    text-align: center;
    box-shadow: 0 3px 4px #333;
}

.da_login_admin .info ul {
    list-style: none;
}

.da_login_admin .info a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: unset;
}

/* login customer */
.da_login_customer {
    display: block;
}

.da_login_customer a {
    padding: 4px;
    font-size: 0.8125rem;
}

.da_login_customer:hover .info {
    display: block;
}

.da_login_customer .info {
    display: none;
    position: absolute;
    top: 35px;
    right: 65px;
    background-color: #FF711B;
    padding: 10px;
    color: #FFf;
    text-align: center;
    box-shadow: 0 3px 4px #333;
}

.da_login_customer .info ul {
    list-style: none;
}

.da_login_customer .info a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: unset;
}

/* header */
.header-admin {
    display: flex;
    background-color: #FF711B;
    align-items: center;
}

.admin-page {
    display: flex;
    flex: 1;
}

.admin-logo {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: flex;
    align-items: center;
}

.admin-logo > img {
    height: 60px;
    width: auto;
}

.admin-logo > div {
    margin-left: 0.9375rem;
    border-left: 0.0625rem solid #fff;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.875rem;
    height: 1.875rem;
    padding-left: 0.9375rem;
    margin-bottom: 0.0625rem;
    text-transform: capitalize;
}

.you-help a {
    text-decoration: none;
    color: #FFf;
}

.you-help a:hover {
    opacity: 0.6;
}
/* end header */

/* main */
main {
    background-color: #fff;
    margin-bottom: 20px;
    
}

.form-login {
    padding: 60px;
    display: flex;
    justify-content: center;
}

.form-login form {
    background-color: #FF711B;
    border-radius: 10px;
}

.form-login form h2 {
    color: #fff;
    text-align: left;
    padding: 22px 30px;
}

.form-login form .space {
    height: 20px;
}

.form-login form .input {
    font-size: 0.75rem;
    padding: 0 30px 30px;
}

form .input input {
    padding: 12px;
    width: 311px;
    outline: none;
    opacity: 1;
}

form .input .btn {
    text-align: center;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: 0;
    padding: 12px;
    border-radius: 3px;
}

form .input .forget {
    display: block;
    text-decoration: none;
    color: #05a;
    padding: 12px 0;
}

.input .sign-up-you {
    color: #fff;
    padding: 12px 0;
    text-align: center;
}

.input .sign-up {
    text-decoration: none;
    color: #05a;

}

.error {
    display: flex;
    background-color: red;
    padding: 12px;
    align-items: center;
}

.error span {
    padding: 0 10px;
    color: #fff;
}

/* end main */
